{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["add-module-exports", { "addDefaultProperty": true }],
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-strict-mode"
  ]
}
